.imagem_item{
   width: 80px;
}

.produto_cart_valor{
   color: #D15A09;
   font-weight: bold;
   display: inline-block;
}

.item_cart{
   background-color: rgb(73, 73, 73);
   border-right: 20px solid #222;
   border-left: 20px solid #222;

}
.item_cart .produto_cart{
   display: inline-block;
   color: #efefef;
}

.produto_cart{
   margin-right: 10px;
   margin-left: 10px;
}

.remover_produto:hover{
   cursor: pointer;
   color: #efefef;
}

.remover_produto{
   color: #D15A09;
   width: 100px;
   margin: 0 auto;
}
